.Btn {
    color: rgb(3, 24, 50);
    background-color: white;
    border: 1px solid rgb(3, 24, 50);
    align-self: center;
    width: 100%;
}

.Btn:hover {
    color:white;
    background-color: rgb(3, 24, 50);
}