.Header {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: rgb(3, 24, 50);
  text-align: center;
}

.Container {
    margin-top: 10px;
}

.Column {
    border: 1px dashed rgba(238, 156, 0);
    border-radius: 2px;
    margin: auto 2.5px;
    background-color: white
}
