.NavBar {
    background-color: white;
    border: 1px solid rgb(3, 3, 71);
}

/* ↓↓↓ CREDIT: Code Institute Moments project ↓↓↓*/
.NavLink {
    padding: 5px;
}

.Active i {
    color: rgb(3, 3, 71);
}
/* ↑↑↑ CREDIT: Code Institute Moments project ↑↑↑*/